@import '~@fortawesome/fontawesome-free/css/all.css';

footer {
  background: #171151;
  padding: 86px 0px 0px 0px;
}

.form-control {
  background: #171151;
  height: 50px;
}

.footer-img {
  width: 210px;
  margin-top: -20px;
}

.single-box p {
  color: #fff;
  line-height: 1.9;
}

.single-box h3 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.single-box .card-area i {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.single-box ul {
  list-style: none;
  padding: 0;
}

.single-box ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 2.5;
  font-weight: 100;
}

.single-box h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

#basic-addon2 {
  background: #312A70;
  height: 50px;
  padding: 0;
}

.search-img {
  height: 50px;
  width: 50px;
}

.socials i {
  font-size: 18px;
  margin-right: 15px;
}

@media (max-width: 767px) {
  .single-box {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .single-box {
    margin-bottom: 50px;
  }
}

.auto {
  margin: 0px 10px 0px 10px;
}
.single-box li a{
  cursor: pointer;
}
// .logo{
//   align-self: self-end;
//     margin-bottom: 8%;
// }
