<footer>
  <div class="footer-section">
    <div class="container">
      <div class="row auto">
        <div class="col-lg-3 col-sm-6">
          <img src="../../assets/logo-normal1.png" class="footer-img" alt="">
          <div class="single-box">
            <p class="mt-3">Exercitation ullamcorper suscipit laborotis nisl aliquip ex ea commodo claritatem itemconse
              quat.Exercitatiom ullamcorper</p>
            <div class="card-area">
              <i class="fa-brands fa-youtube"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-facebook-f"></i>
              <i class="fa-brands fa-skype"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-box">
            <h2>Useful Links</h2>
            <ul>
              <li routerLink="/about-us"><a>About us</a></li>
              <li routerLink="/services"><a>Services</a></li>
              <li routerLink="/contact-us"><a>Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-box">
            <h2>Contact info</h2>
            <ul>
              <li><a>Ta-134/A,Gulshan Badda Link</a></li>
              <li><a>(+880)155 69569 365</a></li>
              <li><a>support@tech.com</a></li>
              <li><a>Office Hours: 8AM - 11PM</a></li>
              <li><a>Sunday - Weekend Day</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-box">
            <h2>Subscribe Newsletter</h2>
            <p>Exercitation ullamcorper suscipit laborotis nisl aliquip ex ea commodo</p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Enter your Email" aria-label="Enter your Email ..."
                aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2"><img src="../../assets/Group 300.png" class="search-img"
                  alt=""></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="p-3" style="background-color: #171151;">
  <div class="container">
    <p class="text-white">© Copyright {{ currentYear }}</p>
  </div>
</div>
