<footer>
  <div class="footer-section">
    <div class="container">
      <div class="row auto">
        <div class="col-md-4 logo">
          <div class="single-box">
            <img src="../../assets/logo-normal1.png" class="footer-img" alt="">
            <!-- <p class="mt-3">Exercitation ullamcorper suscipit laborotis nisl aliquip ex ea commodo claritatem itemconse
              quat.Exercitatiom ullamcorper</p> -->
            <div class="card-area mt-4">
              <i class="fa-brands fa-youtube"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-facebook-f"></i>
              <i class="fa-brands fa-skype"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-box">
            <h2>Useful Links</h2>
            <ul>
              <li routerLink="/terms-condition"><a>T&C</a></li>
              <li routerLink="/privacy-policy"><a>Privacy Policy</a></li>
              <!-- <li routerLink="/services"><a>Services</a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-box">
            <h2>Contact info</h2>
            <ul>
              <li><a>950, 23rd Cross Rd, M.C.E.C.H.S.</a></li>
              <li><a>Layout 1st Phase, Sampigehalli,</a></li>
              <li><a>Bengaluru, Karnataka 560077</a></li>
              <li><a href="mailto:info@Ziolaresearch.com">info@Ziolaresearch.com</a></li>
              <li><a>+91 7993035079</a></li>
              <li><a>+91 9611078686</a></li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-lg-3 col-sm-6">
          <div class="single-box">
            <h2>Subscribe Newsletter</h2>
            <p>Exercitation ullamcorper suscipit laborotis nisl aliquip ex ea commodo</p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Enter your Email" aria-label="Enter your Email ..."
                aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2"><img src="../../assets/Group 300.png" class="search-img"
                  alt=""></span>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</footer>
<div class="p-3" style="background-color: #171151;">
  <div class="container">
    <p class="text-white">© Copyright {{ currentYear }}</p>
  </div>
</div>
