@import '~@fortawesome/fontawesome-free/css/all.css';

.privacy-banner {
  background-image: url("../../assets/Group\ 297.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.privacy-color {
  margin-top: 36vh;
  width: 40%;
  background: #4348BD 0% 0% no-repeat padding-box;
  border-radius: 0px 91px 91px 0px;
  opacity: 1;
  padding: 10px;
  padding-left: 10%;
}

.privacy-text {
  font: normal normal bold 69px/70px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin-right: 32px;
  white-space: nowrap;
}

.message-info {
  margin-top: 94px;
  margin-bottom: 94px;
  height: auto;
}

.address-line {
  text-align: center;
  border-color: #EFF1F7;
  border: 1px solid #EFF1F7;
  border-radius: 5px;
  opacity: 1;
  height: 279px;
  width: 320px;
}

.phone-number {
  text-align: center;
  border-color: #EFF1F7;
  border: 1px solid #EFF1F7;
  border-radius: 5px;
  opacity: 1;
  height: 279px;
  width: 320px;
  margin-top: 64px;
}

.opening-hours {
  text-align: center;
  border-color: #EFF1F7;
  border: 1px solid #EFF1F7;
  border-radius: 5px;
  opacity: 1;
  height: 279px;
  width: 320px;
  margin-top: 64px;
}

.address-img {
  margin-top: 48px;
}

.address,
.number,
.hours {
  font-weight: bold;
  font-size: 18px;
  margin-top: 30px;
  color: #171151;
}

.address-para {
  margin-top: 35px;
  font-size: 14px;
  color: #171151;
  line-height: 1.2;
}

.search-button {
  top: 1098px;
  left: 1302px;
  width: 215px;
  height: 66px;
  background: #0E63FF 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #ffffff;
}

.form-title {
  color: #171151;
  font-weight: bold;
  font-size: 28px;
}

@media (min-width: 450px) and (max-width: 1024px) {
  .privacy-color {
    width: 68%;
  }
}

@media (min-width: 320px) and (max-width: 449px) {
  .privacy-color {
    width: 86%;
    padding-left: 0%;
  }

  .privacy-text {
    font-size: 38px;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .address-section {
    text-align: -webkit-center;
  }
}

@media (min-width: 1024px) and (max-width: 1204px) {
  .message-section {
    padding-left: 30px;
  }
}

@media (min-width: 766px) and (max-width: 1024px) {
  .address-section {
    display: block;
  }
}
.validate{
  color: red;
  font-size: 16px;
  margin: -14px 6px 8px 10px;
}
