@import '~@fortawesome/fontawesome-free/css/all.css';

.privacy-banner {
  background-image: url("../../assets/Group\ 238.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.privacy-color {
  margin-top: 36vh;
  width: 40%;
  background: #4348BD 0% 0% no-repeat padding-box;
  border-radius: 0px 91px 91px 0px;
  opacity: 1;
  padding: 10px;
  padding-left: 10%;
}

.privacy-text {
  font: normal normal bold 54px/67px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin-right: 32px;
  white-space: nowrap;
}

.bt-result {
  margin-top: 130px;
  margin-bottom: 130px;
}

span.red {
  background: #10d0a1;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 0.6em;
  text-align: center;
  width: 236px;
  height: 258px;
  position: relative;
}

span.red {
  left: 50%;
  transform: translateX(-50%);
  margin-top: -126px;
}

.num {
  font-size: 126px;
  padding-top: 92px;
  padding-bottom: 18px;
  font-family: fantasy;
}

// count
.heading h4 {
  margin-bottom: 50px;
  font-size: 50px;
}

.cards h4 {
  color: #171151;
  font-size: 40px;
  line-height: 45px;
  margin: 20px 10px;
  font-family: fantasy;
}

.cards p {
  font-size: 14px;
  text-align: center;
}

.counter-cards h4,
.counter-cards p {
  text-align: start;
}

.counter-cards {
  border: 1px solid #707070;
  width: 100%;
  max-width: 280px;
  margin: 15px auto 20px;
  padding: 45px;
}

.counter-cards img {
  // display: block;
  margin: 0 auto;
}

.counter-cards-text {
  color: #171151;
  font-weight: bold;
  margin-top: 10px;
}

.client-count-wrp {
  margin-top: 150px;
  margin-bottom: 100px;
}

/* Media Query for Tablets (up to 1024px) */
@media (max-width: 1024px) {
  .counter-cards {
    margin-bottom: 20px;
    max-width: 318px;
  }

  .counter-cards-text {
    margin-top: 5px;
  }

  .client-count-wrp {
    margin-top: 20px;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
  .cards h4 {
    font-size: 28px;
    line-height: 32px;
    margin: 20px 0;
  }

  .counter-cards {
    margin-bottom: 20px;
  }

  .counter-cards-text {
    margin-top: 5px;
  }

  .client-count-wrp {
    margin-top: 20px;
  }
}

.client-count-wrp-inner {
  display: contents;
}

// Best Results.
.about-circle-text {
  font-size: 22px;
}

.about-us-heading {
  // width: 458px;
  // height: 198px;
  font-weight: 700;
  color: #171151;
  font-size: 40px;
  text-align: left;
  line-height: 1.1;
}

.abt-btn-history {
  width: 202px;
  height: 65px;
  color: #ffff;
  background-color: #4348BD;
  border: #4348BD;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
}

.abt-btn-about {
  color: #ffff;
  background-color: #10D0A1;
  border: #10D0A1;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  width: 169px;
  height: 65px;
  margin-left: 30px;
}

.about-us-parg {
  // width: 516px;
  height: 45px;
  color: #171151;
  font-size: 18px;
  font-weight: 600;
}

.about-us-pargraph {
  // width: 524px;
  // height: 91px;
  color: #171151;
  font-size: 16px;
}

.about-check-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.about-check-text {
  font-weight: bold;
  color: #171151;
}

// choose-us
.choose-us {
  background-image: url("../../assets/Group\ 285.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // height: 80vh;
  margin-top: 10px;
  margin-bottom: 30px;
}

.service-line-1 {
  color: #0E63FF;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
}

.line {
  width: 35px;
  height: 2px;
  background-color: #0E63FF;
  margin: 12px 10px 1px 1px;
}

.Specialties {
  padding-top: 56px;
}

.specialties-cards img {
  // display: block;
  margin: 0 auto;
  width: 114px;
  height: 114px;
}

.specialties-cards {
  // width: 100%;
  // max-width: 280px;
  margin: 15px auto 20px;
  // padding: 45px;
  text-align: center;
}

.why-choose {
  font-size: 40px;
  text-align: center;
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: bold;
  margin-top: 30px;
}

.specialties-para {
  color: #ffffff;
  margin-top: 20px;
  font-size: 22px;
}

.client-Specialties-wrp {
  margin-top: 98px;
  margin-bottom: 98px;
}

.specialties-cards p {
  text-align: center;
}

.specialties-wrp-inner {
  display: contents;
}

.specialties-para-text {
  font-size: 14px;
  color: #A9B7D1;
  width: 200px;
}

.scientific-research p {
  text-align: center;
  color: #A9B7D1;
}

.scientific-research span {
  text-align: center;
  color: #ffffff;
}


// nav-tabs
.mission-tabs {
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (max-width: 1252px) {
  .mission-tabs {
    display: none;
  }
}

.mission-nav-tabs {
  justify-content: center;
}

.mission-text {
  color: #171151;
  font-size: 30px;
  line-height: 1.3;
  font-weight: bold;
}

.mission-text-para {
  color: #171151;
  font-size: 18px;
  line-height: 1.1;
}

nav>.nav.nav-tabs {

  border: none;
  color: #fff;
  // background:#272e38;
  border-radius: 0;

}

nav>div a.nav-item.nav-link,
nav>div a.nav-item.nav-link.active {
  border: none;
  padding: 18px 25px;
  color: #160e0e;
  background: #F2F5FA;
  border-radius: 0;
  width: 278px;
  height: 81px;
}

nav>div a.nav-item.nav-link.active:after {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
}

.tab-content {
  background: #fdfdfd;
  line-height: 25px;
  // border: 1px solid #ddd;
  padding: 30px 25px;
}

nav>div a.nav-item.nav-link:hover,
nav>div a.nav-item.nav-link:focus {
  border: none;
  background: #fff;
  color: #212529;
  border-radius: 0;
  transition: background 0.2s linear;
  border-bottom: 5px solid #099c10;
  cursor: pointer;
}

// accordions
.accordion-tabs {
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (min-width: 1253px) {
  .accordion-tabs {
    display: none;
  }
}

// Review carousels sections
.card-carousels {
  width: 400px;
  height: 550px;
}

.Client-review {
  color: #171151;
  font-weight: 700;
  font-size: 28px;
}

.carosel-banner {
  background-color: #F2F5FA;
}

.reviews-line {
  display: inline-flex;
  color: #0E63FF;
  font-size: 16px;
  font-weight: 500;
}

.lines {
  width: 35px;
  height: 2px;
  background-color: #0E63FF;
  display: flex;
  margin: 12px;
}

.reviews-arrow-button:active {
  border-radius: 50px;
  background-color: #171151;
  color: #fff;
  border-color: #171151;
}

.reviews-arrow-buttons {
  border-radius: 50px;
  color: #171151;
  border-color: #171151;
  margin: 4px;
}

.reviews-arrow-buttons:hover {
  border-radius: 50px;
  background-color: #171151;
  color: #fff;
  border-color: #171151;
}

.review-card-title {
  color: #171151;
  font-weight: 700;
  font-size: 23px;
  margin-left: 40px;
  margin-top: 15px;
}

.review-title {
  color: #0E63FF;
  font-weight: 700;
  margin-left: 40px;
}

.review-card-parag {
  color: #8A879F;
  height: 66px;
  margin: 24px 30px 16px 40px;
}

@media only screen and (max-width: 916px) {
  .client-review-res {
    margin-inline: auto;
  }
}

// slider
.slider-wrap {
  position: relative;
  overflow: hidden;
  height: 467px;
}

.slider-wrap-client {
  position: relative;
  overflow: hidden;
  height: 540px;
}

.slider-main {
  position: absolute;
  width: 200%;
}

.item {
  display: inline-block;
  width: 400px;
  height: 467px;
  background: #fff;
  position: relative;
  margin: 0 12px;
}

.item-client {
  height: 540px;
}

.button-area {
  text-align: end;
}

.slider {
  --slider-padding: 1rem;
  --slider-column-gap: 1rem;
  --slide-width: 20%;
  --slide-min-width: 15rem;
  position: relative;
  overflow: hidden;
}

.slider__track {
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  padding-inline: var(--slider-padding);
  scroll-behavior: smooth;
  list-style-type: none;
  padding: 0;
  margin-right: calc(--var(slider-column-gap) * -1);
  scrollbar-width: none;
}

.slider__track>* {
  flex: 0 0 var(--slide-width);
  min-width: var(--slide-min-width);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding-right: var(--slider-column-gap);
}

.slider__track::-webkit-scrollbar {
  display: none;
}

li {
  min-width: auto !important;
}

/* Responsive Media Query */
@media (max-width: 1400px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .menu ul {
    display: flex;
    justify-content: center;
  }

  .mob-icons {
    display: none;
  }
}

@media (max-width: 769px) {
  .main_title {
    font-size: 60px;
    line-height: 60px;
  }

  .title {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 40px;
  }

  .main_title {
    font-size: 40px;
    line-height: 50px;
  }

  section.slider .title {
    font-size: 40px;
  }

  button.slider__button {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .slider .btns button {
    font-size: 16px;
  }
}

@media (max-width: 426px) {
  .main_title {
    font-size: 35px;
    line-height: 35px;
  }

  section.slider .title {
    font-size: 30px;
    top: 10px;
  }
}

/* Responsive Media Query End */
.card-icons {
  display: flex;
  justify-content: space-evenly;
}

.hide-arrow {
  cursor: not-allowed;
  pointer-events: none;
  color: #c0c0c0;
  background-color: #ffffff;
  border-color: #c0c0c0;
}

@media (min-width: 450px) and (max-width: 1024px) {
  .privacy-color {
    width: 68%;
  }
}

@media (min-width: 320px) and (max-width: 449px) {
  .privacy-color {
    width: 86%;
    padding-left: 0%;
  }
}

.bt-result img {
  width: -webkit-fill-available;
}

@media (min-width: 320px) and (max-width: 425px) {
  .num {
    font-size: 102px;
    padding-top: 44px;
    padding-bottom: 18px;
    font-family: fantasy;
  }

  span.red {
    left: 50%;
    transform: translateX(-50%);
    margin-top: -80px;
  }

  span.red {
    background: #10d0a1;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 0.6em;
    text-align: center;
    width: 192px;
    height: 156px;
    position: relative;
  }

  .bt-result {
    margin-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1088px) {
  .about-circle-text {
    font-size: 20px;
  }

  .num {
    font-size: 51px;
    padding-top: 19px;
    padding-bottom: 1px;
    font-family: fantasy;
  }

  span.red {
    left: 50%;
    transform: translateX(-50%);
    margin-top: -45px;
  }

  span.red {
    background: #10d0a1;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 0.6em;
    text-align: center;
    width: 144px;
    height: 146px;
    position: relative;
  }

  .biotechnology-specialist {
    inline-size: auto;
  }
}

@media (min-width: 1088px) {
  .num {
    font-size: 128px;
    padding-top: 73px;
    padding-bottom: 30px;
    font-family: fantasy;
  }

  span.red {
    left: 50%;
    transform: translateX(-50%);
    margin-top: -87px;
  }

  span.red {
    background: #10d0a1;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 0.6em;
    text-align: center;
    width: 222px;
    height: 238px;
    position: relative;
  }

  .biotechnology-specialist {
    inline-size: auto;
  }
}

.down-text-r {
  white-space: nowrap;
}

@media (max-width: 425px) {
  .accordion-tabs img {
    width: -webkit-fill-available;
  }
}

@media (min-width: 768px) and (max-width: 1016px) {
  .accordion-text {
    display: block;
  }

  .accordion-items img {
    padding-left: 100%;
  }

  .accordion-mission-text {
    width: auto;
  }
}

@media (min-width: 1016px) and (max-width: 1253px) {
  .accordion-tabs img {
    width: 200px;
    height: 232px;
  }

  .accordion-mission-text {
    padding: 0px 0px 0px 26px;
  }
}

@media(max-width:420px) {
  .card-carousels {
    width: 268px;
    height: 550px;
  }

  .review-card-parag {
    color: #8A879F;
    height: 66px;
    margin: 24px 30px 94px 40px;
  }
}

.scientific-research {
  padding-bottom: 32px;
}
.accordion-header {
  margin-bottom: 0;
}
