<div class="container-fluid ">
  <div class="row dashboard-banner-text">
    <div class="privacy-banner p-0">
      <div class="privacy-color">
        <p class="privacy-text text-end">About US</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bt-result">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-6 team-advanced">
            <img
              src="../../assets/team-advanced-scientist-checking-solution-from-test-tube-their-laboratory-research-lab.jpg"
              alt="">
            <h1><span class="red">
                <p class="num">12</p><br><span class="about-circle-text">Years of <br>Experience</span>
              </span></h1>
          </div>
          <div class="col-md-6 science-medical">
            <img src="../../assets/science-medical-graphic-against-scientists-wearing-masks-safety-glasses.jpg" alt="">
            <div class="col-md-6 biotechnology-specialist">
              <img src="../../assets/biotechnology-specialist-laboratory-conducting-experiments.jpg" alt=""
                class="mt-4"> </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 responsive-d">
        <h1 class="about-us-heading">We'll Ensure You Always Get Best Results.</h1>
        <p class="about-us-parg">Read Our Mission & Vission
          findings</p>
        <p class="about-us-pargraph mt-1">Exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea commoda
          claritatem insitamconse quat.Exerci
          tataion yllamcorper suscipit loborti excommodo habent clarititataem insitamconse quat.exerci tationlobortis
          nisl aliquip ex ea commodo habent claritataem insitamaconse quat.</p>
        <div class="down-text-r">
          <p class="about-check-text mt-1"><span class="about-check-icon"><i class="fa-solid fa-check"
                style="color: #0e63ff;"></i></span>Extramural Funding</p>
          <p class="about-check-text"><span class="about-check-icon"><i class="fa-solid fa-check"
                style="color: #0e63ff;"></i></span>bacteria Markers</p>
          <p class="about-check-text"><span class="about-check-icon"><i class="fa-solid fa-check"
                style="color: #0e63ff;"></i></span>Nam nec mi evismod euismod</p>
          <p class="about-check-text"><span class="about-check-icon"><i class="fa-solid fa-check"
                style="color: #0e63ff;"></i></span>in aliquet dui nec lectus</p>
          <button class="abt-btn-history mt-2">ABOUT US</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-0">
  <div class="container counter">
    <div #counterSection class="client-count-wrp">
      <div class="row">
        <div class="col-md-12 client-count-wrp-inner ">
          <div class="cards counter-cards">
            <img src="../../assets/Path 251.svg" alt="">
            <h4>{{projectcount}}</h4>
            <p class="counter-cards-text">Laboratories in 100+ states</p>
          </div>
          <div class="cards counter-cards">
            <img src="../../assets/Path 252.svg" alt="">
            <h4>{{accuratecount}}</h4>
            <p class="counter-cards-text">Laboratory specialists</p>
          </div>
          <div class="cards counter-cards">
            <img src="../../assets/Path 255.svg" alt="">
            <h4>{{clientcount}}</h4>
            <p class="counter-cards-text">Material collection points</p>
          </div>
          <div class="cards counter-cards">
            <img src="../../assets/Path 258.svg" alt="">
            <h4>{{customerfeedback}}</h4>
            <p class="counter-cards-text">Patients diagnosed in 2022</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-0 choose-us">
  <div class="text-center Specialties">
    <div class="service-line-1 "><span class="line"></span>Our Specialties</div>
    <p class="why-choose">Why Choose US</p>
  </div>
  <div class="container">
    <div class="client-Specialties-wrp">
      <div class="row">
        <div class="col-md-12 specialties-wrp-inner ">
          <div class=" specialties-cards">
            <img src="../../assets/Group 289@2x.png" alt="">
            <p class="specialties-para">Hight Quality services</p>
            <p class="specialties-para-text">Nam eget dul vel quam sodales semper quis porttitor tortor.</p>
          </div>
          <div class=" specialties-cards">
            <img src="../../assets/Group 288@2x.png" alt="">
            <p class="specialties-para">Fast Working Process</p>
            <p class="specialties-para-text">Nam eget dul vel quam sodales semper quis porttitor tortor.</p>
          </div>
          <div class=" specialties-cards">
            <img src="../../assets/Group 287@2x.png" alt="">
            <p class="specialties-para">24/7 Customer Support</p>
            <p class="specialties-para-text">Nam eget dul vel quam sodales semper quis porttitor tortor.</p>
          </div>
          <div class=" specialties-cards">
            <img src="../../assets/Group 286@2x.png" alt="">
            <p class="specialties-para">We Have Expert Team</p>
            <p class="specialties-para-text">Nam eget dul vel quam sodales semper quis porttitor tortor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scientific-research">
    <p>Laboratories Used For Scientific Research :<span> TAKE MANY FORMS <i class="fa-solid fa-arrow-right"></i> </span>
    </p>
  </div>
</div>
<!-- mission-tabs -->
<div class="container-fluid p-0 mission-tabs">
  <div class="container">
    <div class="row">
      <div class="nav mission-nav-tabs">
        <nav>
          <div class="nav nav-tabs nav-fill" role="tablist">
            <a class="nav-item nav-link" [class.active]="activeTab === 'home'" (click)="changeTab('home')">OUR
              PROCESS</a>
            <a class="nav-item nav-link" [class.active]="activeTab === 'profile'" (click)="changeTab('profile')">OUR
              MISSION</a>
            <a class="nav-item nav-link" [class.active]="activeTab === 'contact'" (click)="changeTab('contact')">OUR
              VALUE</a>
          </div>
        </nav>
      </div>
      <div class="col-md-12 mt-5">
        <div class="tab-content py-3 px-3 px-sm-0">
          <div *ngIf="activeTab === 'home'">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <img src="../../assets/happy-woman-near-microscope-looking-camera (1).jpg" alt="">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                  <p class="mission-text">We are trusted by over 24000+ of customers</p>
                  <P class="mission-text-para">Exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea commoda
                    claritatem insitamconse quat.Exerci
                    tataion yllamcorper suscipit loborti excommodo habent clarititataem insitamconse quat.</P>
                  <p>exerci tationlobortis
                    nisl aliquip ex ea commodo habent claritataem insitamaconse quat.</p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                  <img src="../../assets/young-student-working-with-chemical-solutions-lab.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="activeTab === 'profile'">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <img src="../../assets/young-student-working-with-chemical-solutions-lab.jpg" alt="">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                  <p class="mission-text">We are trusted by over 25000+ of customers</p>
                  <P class="mission-text-para">Exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea commoda
                    claritatem insitamconse quat.Exerci
                    tataion yllamcorper suscipit loborti excommodo habent clarititataem insitamconse quat.</P>
                  <p>exerci tationlobortis
                    nisl aliquip ex ea commodo habent claritataem insitamaconse quat.</p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                  <img src="../../assets/happy-woman-near-microscope-looking-camera (1).jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="activeTab === 'contact'">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <img src="../../assets/happy-woman-near-microscope-looking-camera (1).jpg" alt="">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                  <p class="mission-text">We are trusted by over 26000+ of customers</p>
                  <P class="mission-text-para">Exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea commoda
                    claritatem insitamconse quat.Exerci
                    tataion yllamcorper suscipit loborti excommodo habent clarititataem insitamconse quat.</P>
                  <p>exerci tationlobortis
                    nisl aliquip ex ea commodo habent claritataem insitamaconse quat.</p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                  <img src="../../assets/young-student-working-with-chemical-solutions-lab.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- accordions -->
<div class="container-fluid p-0 accordion-tabs">
  <div class="container">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            OUR PROCESS
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="container accordion-items">
              <div class="row accordion-text">
                <div class="col-md-3">
                  <img src="../../assets/happy-woman-near-microscope-looking-camera (1).jpg" alt="">
                </div>
                <div class="col-md-6 accordion-mission-text">
                  <p class="mission-text">We are trusted by over 24000+ of customers</p>
                  <P class="mission-text-para">Exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea commoda
                    claritatem insitamconse quat.Exerci
                    tataion yllamcorper suscipit loborti excommodo habent clarititataem insitamconse quat.</P>
                  <p>exerci tationlobortis
                    nisl aliquip ex ea commodo habent claritataem insitamaconse quat.</p>
                </div>
                <div class="col-md-3">
                  <img src="../../assets/young-student-working-with-chemical-solutions-lab.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            OUR MISSION
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="container accordion-items">
              <div class="row accordion-text">
                <div class="col-md-3">
                  <img src="../../assets/young-student-working-with-chemical-solutions-lab.jpg" alt="">
                </div>
                <div class="col-md-6 accordion-mission-text">
                  <p class="mission-text">We are trusted by over 25000+ of customers</p>
                  <P class="mission-text-para">Exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea commoda
                    claritatem insitamconse quat.Exerci
                    tataion yllamcorper suscipit loborti excommodo habent clarititataem insitamconse quat.</P>
                  <p>exerci tationlobortis
                    nisl aliquip ex ea commodo habent claritataem insitamaconse quat.</p>
                </div>
                <div class="col-md-3">
                  <img src="../../assets/happy-woman-near-microscope-looking-camera (1).jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            OUR VALUE
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="container accordion-items">
              <div class="row accordion-text">
                <div class="col-md-3">
                  <img src="../../assets/happy-woman-near-microscope-looking-camera (1).jpg" alt="">
                </div>
                <div class="col-md-6 accordion-mission-text">
                  <p class="mission-text">We are trusted by over 26000+ of customers</p>
                  <P class="mission-text-para">Exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea commoda
                    claritatem insitamconse quat.Exerci
                    tataion yllamcorper suscipit loborti excommodo habent clarititataem insitamconse quat.</P>
                  <p>exerci tationlobortis
                    nisl aliquip ex ea commodo habent claritataem insitamaconse quat.</p>
                </div>
                <div class="col-md-3">
                  <img src="../../assets/young-student-working-with-chemical-solutions-lab.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Review carosel section -->
<div class="container-fluid p-0">
  <div class="carosel-banner">
    <div class="pt-5 pb-5">
      <div #slider class="slider">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="reviews-line"><span class="lines"></span>Our Team</div>
              <h3 class="mb-5 Client-review mt-3">Meet Specialist</h3>
            </div>
            <div class="col-md-6">
              <div class="slider text-right" data-slider>
                <div class="slider-title">
                  <div class="col  button-area">
                    <a class="btn reviews-arrow-buttons mb-3 mr-1 hide-arrow" role="button" data-slide="prev"
                      data-slider-prev>
                      <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn reviews-arrow-buttons mb-3 hide-arrow" role="button" data-slide="next"
                      data-slider-next>
                      <i class="fa fa-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="slider__track" data-slider-track>
            <li>
              <div class="card card-carousels">
                <img alt="100%x280" src="../../assets/Path 962.jpg">
                <P class="review-card-title">Cameron Wiliamson</P>
                <P class="review-title">GENETICE SPECIALIST</P>
                <P class="review-card-parag">Providing insight-driven transformation to investment banks,
                  wealth and asset man, exchanges,Finance</P>
                <div class="card-icons my-4">
                  <div>
                    <img src="../../assets/Group 290.svg" alt="">
                  </div>
                  <div><img src="../../assets/Group 291.svg" alt=""></div>
                  <div><img src="../../assets/Group 292.svg" alt=""></div>
                  <div><img src="../../assets/Group 293.svg" alt=""></div>
                </div>
              </div>
            </li>
            <li>
              <div class="card card-carousels">
                <img alt="100%x280" src="../../assets/modern-laboratory-research-scientist-conducts-experiments.jpg">
                <P class="review-card-title">Savannah Nguyen</P>
                <P class="review-title">GENETICE SPECIALIST</P>
                <P class="review-card-parag">Providing insight-driven transformation to investment banks,
                  wealth and asset man, exchanges,Finance</P>
                <div class="card-icons my-4">
                  <div>
                    <img src="../../assets/Group 290.svg" alt="">
                  </div>
                  <div><img src="../../assets/Group 291.svg" alt=""></div>
                  <div><img src="../../assets/Group 292.svg" alt=""></div>
                  <div><img src="../../assets/Group 293.svg" alt=""></div>
                </div>
              </div>
            </li>
            <li>
              <div class="card card-carousels">
                <img alt="100%x280" src="../../assets/happy-woman-near-microscope-looking-camera.jpg">
                <P class="review-card-title">Darlene Robertson</P>
                <P class="review-title">GENETICE SPECIALIST</P>
                <P class="review-card-parag">Providing insight-driven transformation to investment banks,
                  wealth and asset man, exchanges,Finance</P>
                <div class="card-icons my-4">
                  <div>
                    <img src="../../assets/Group 290.svg" alt="">
                  </div>
                  <div><img src="../../assets/Group 291.svg" alt=""></div>
                  <div><img src="../../assets/Group 292.svg" alt=""></div>
                  <div><img src="../../assets/Group 293.svg" alt=""></div>
                </div>
              </div>
            </li>
            <li>
              <div class="card card-carousels">
                <img alt="100%x280" src="../../assets/Path 962.jpg">
                <P class="review-card-title">Cameron Wiliamson</P>
                <P class="review-title">GENETICE SPECIALIST</P>
                <P class="review-card-parag">Providing insight-driven transformation to investment banks,
                  wealth and asset man, exchanges,Finance</P>
                <div class="card-icons my-4">
                  <div>
                    <img src="../../assets/Group 290.svg" alt="">
                  </div>
                  <div><img src="../../assets/Group 291.svg" alt=""></div>
                  <div><img src="../../assets/Group 292.svg" alt=""></div>
                  <div><img src="../../assets/Group 293.svg" alt=""></div>
                </div>
              </div>
            </li>
            <li>
              <div class="card card-carousels">
                <img alt="100%x280" src="../../assets/modern-laboratory-research-scientist-conducts-experiments.jpg">
                <P class="review-card-title">Savannah Nguyen</P>
                <P class="review-title">GENETICE SPECIALIST</P>
                <P class="review-card-parag">Providing insight-driven transformation to investment banks,
                  wealth and asset man, exchanges,Finance</P>
                <div class="card-icons my-4">
                  <div>
                    <img src="../../assets/Group 290.svg" alt="">
                  </div>
                  <div><img src="../../assets/Group 291.svg" alt=""></div>
                  <div><img src="../../assets/Group 292.svg" alt=""></div>
                  <div><img src="../../assets/Group 293.svg" alt=""></div>
                </div>
              </div>
            </li>
            <li>
              <div class="card card-carousels">
                <img alt="100%x280" src="../../assets/happy-woman-near-microscope-looking-camera.jpg">
                <P class="review-card-title">Darlene Robertson</P>
                <P class="review-title">GENETICE SPECIALIST</P>
                <P class="review-card-parag">Providing insight-driven transformation to investment banks,
                  wealth and asset man, exchanges,Finance</P>
                <div class="card-icons my-4">
                  <div>
                    <img src="../../assets/Group 290.svg" alt="">
                  </div>
                  <div><img src="../../assets/Group 291.svg" alt=""></div>
                  <div><img src="../../assets/Group 292.svg" alt=""></div>
                  <div><img src="../../assets/Group 293.svg" alt=""></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
