@import '~@fortawesome/fontawesome-free/css/all.css';

.privacy-banner {
  background-image: url("../../assets/Group\ 306.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.privacy-color {
  margin-top: 25vh;
  width: 40%;
  background: #4348BD 0% 0% no-repeat padding-box;
  border-radius: 0px 91px 91px 0px;
  opacity: 1;
  padding: 10px;
  padding-left: 10%;
}

.privacy-text {
  font: normal normal bold 60px/72px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size: 48px;
  margin-right: 32px;
}

.about-us-heading {
  font-weight: 700;
  color: #171151;
  font-size: 40px;
  text-align: left;
}

.about-us-pargraph {
  color: #171151;
  font-size: 16px;
}

.banner-color {
  background-color: #F2F5FA;
  justify-content: center;
  padding: 30px;
}

.address-title {
  color: #171151;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}

.contact-sub-title {
  color: #171151;
  font-weight: 700;
  font-size: 25px;
}

.service-line {
  display: inline-flex;
  color: #0E63FF;
  font-weight: 500;
}

.line {
  width: 35px;
  height: 2px;
  background-color: #0E63FF;
  display: flex;
  margin: 12px 10px 1px 1px;
}

.img-fluid {
  width: 60px;
  height: 60px;
}

.Service-card-title {
  color: #171151;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}

.Service-card-more {
  font-weight: 700;
  font-size: 14px;
  color: rgb(94, 94, 91);
}

// bioxlab Gallery card section
.gallery-heading {
  font-weight: 700;
  color: #171151;
  font-size: 40px;
  white-space: nowrap;
}

#card-area {
  padding: 50px 0;
}

.box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.box img {
  width: 100%;
  display: block;
  transition: transform 0.5s;
}

.overlay {
  width: 100%;
  height: 0;
  background-color: #0E63FF;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 40px;
  font-size: 14px;
  transition: height 0.5s;
}

.overlay h3 {
  font-weight: 500;
  margin-bottom: 5px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}

.box:hover img {
  transform: scale(1.1);
}

.box:hover .overlay {
  height: 100%;
  opacity: 0.8;
}

.card-para {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 28px;
}

.end-title {
  color: #fff;
  font-weight: 200;
  font-size: 28px;
  margin-top: 12px;
  line-height: 1.1;
}

.work-gallery-card-icon {
  width: 60px;
  height: 66px;
  position: absolute;
  left: 80%;
  margin-top: -130%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s;
}

.box:hover .work-gallery-card-icon {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 916px) {
  .box {
    margin-inline: auto;
  }
}

.hover-img {
  width: 114px;
  height: 114px;
}

.main-heading {
  font-weight: 700;
  color: #171151;
  font-size: 40px;
  text-align: center;
  margin-bottom: 42px;
  line-height: 1.1;
}

.card-img-top {
  height: 252px;
}

.business img {
  width: -webkit-fill-available;
}

@media (min-width: 450px) and (max-width: 1024px) {
  .privacy-color {
    width: 68%;
  }
}

@media (min-width: 320px) and (max-width: 449px) {
  .privacy-color {
    width: 86%;
    padding-left: 0%;
  }

  .box {
    width: 266px;
  }
}
.banner-color .row .col{
  padding-right: calc(var(--bs-gutter-x) * 0.1);
  padding-left: calc(var(--bs-gutter-x) * 0.1);
}
.about-us-heading{
  margin-top: 38px;
    margin-bottom: 40px;
}
.about-us-parg{
  margin-bottom: 42px;
}

// Review carousels sections
.card-carousels {
  width: 400px;
  height: 550px;
}

.Client-review {
  color: #171151;
  font-weight: 700;
}

.carosel-banner {
  background-color: #F2F5FA;
}

.reviews-line {
  display: inline-flex;
  color: #0E63FF;
  font-weight: 500;
}

.lines {
  width: 35px;
  height: 2px;
  background-color: #0E63FF;
  display: flex;
  margin: 12px;
}

.reviews-arrow-button:active {
  border-radius: 50px;
  background-color: #171151;
  color: #fff;
  border-color: #171151;
}

.reviews-arrow-buttons {
  border-radius: 50px;
  color: #171151;
  border-color: #171151;
  margin: 4px;
}

.reviews-arrow-buttons:hover {
  border-radius: 50px;
  background-color: #171151;
  color: #fff;
  border-color: #171151;
}

.review-card-title {
  color: #171151;
  font-weight: 700;
  font-size: 23px;
  margin-left: 40px;
  margin-top: 15px;
}

.review-title {
  color: #0E63FF;
  font-weight: 700;
  margin-left: 40px;
}

.review-card-parag {
  color: #8A879F;
  height: 66px;
  margin: 24px 30px 16px 40px;
}

@media only screen and (max-width: 916px) {
  .client-review-res {
    margin-inline: auto;
  }
}

// slider
.slider-wrap {
  position: relative;
  overflow: hidden;
  height: 467px;
}

.slider-wrap-client {
  position: relative;
  overflow: hidden;
  height: 540px;
}

.slider-main {
  position: absolute;
  width: 200%;
}

.item {
  display: inline-block;
  width: 400px;
  height: 467px;
  background: #fff;
  position: relative;
  margin: 0 12px;
}

.item-client {
  height: 540px;
}

.button-area {
  text-align: end;
}

.slider {
  --slider-padding: 1rem;
  --slider-column-gap: 1rem;
  --slide-width: 20%;
  --slide-min-width: 15rem;
  position: relative;
  overflow: hidden;
}

.slider__track {
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  padding-inline: var(--slider-padding);
  scroll-behavior: smooth;
  list-style-type: none;
  padding: 0;
  margin-right: calc(--var(slider-column-gap) * -1);
  scrollbar-width: none;
}

.slider__track>* {
  flex: 0 0 var(--slide-width);
  min-width: var(--slide-min-width);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding-right: var(--slider-column-gap);
}

.slider__track::-webkit-scrollbar {
  display: none;
}

li {
  min-width: auto !important;
}

/* Responsive Media Query */
@media (max-width: 1400px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .menu ul {
    display: flex;
    justify-content: center;
  }

  .mob-icons {
    display: none;
  }
}

@media (max-width: 769px) {
  .main_title {
    font-size: 60px;
    line-height: 60px;
  }

  .title {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 40px;
  }

  .main_title {
    font-size: 40px;
    line-height: 50px;
  }

  section.slider .title {
    font-size: 40px;
  }

  button.slider__button {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .slider .btns button {
    font-size: 16px;
  }
}

@media (max-width: 426px) {
  .main_title {
    font-size: 35px;
    line-height: 35px;
  }

  section.slider .title {
    font-size: 30px;
    top: 10px;
  }
}
.card-icons {
  display: flex;
}
.card-icons div {
  margin: 0px 24px 0px 10px;
}
.hide-arrow {
  cursor: not-allowed;
  pointer-events: none;
  color: #c0c0c0;
  background-color: #ffffff;
  border-color: #c0c0c0;
}
/* Responsive Media Query End */

// nav-icon-circle-start
.nav-icons-container{
  position: relative;
}
ul.nav-icons-wrap.CenterIconBox {
  justify-content: center;
}
ul.nav-icons-wrap {
  display: flex;
  align-items: flex-start;
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  overflow: hidden;
}
ul.nav-icons-wrap.CenterIconBox li {
  max-width: 105px;
}
ul.nav-icons-wrap li a {
  align-items: center;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}
.Nav-icons.Flights {
  background-position: 0 6px;
}
ul.nav-icons-wrap li a span {
  margin-top: 0;
  color: #666d79;
  background: 0 0;
  text-align: center;
  float: left;
  width: 100%;
}
.Nav-icons {
  width: 56px;
  height: 56px;
  display: inline-block;
  border: 1px solid #000;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
  transition: 0.3s linear;
}
.nav-icons-wrap{
  text-align: center;
}

