<div class="container-fluid ">
  <div class="row dashboard-banner-text">
    <div class="privacy-banner p-0">
      <div class="privacy-color">
        <p class="privacy-text text-end">Human Biospecimens</p>
      </div>
    </div>
  </div>
</div>
<!--Review carosel section -->
<div class="container-fluid p-0">
  <div class="carosel-banner">
    <div class="pt-5 pb-5">
      <div #slider class="slider">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="reviews-line"><span class="lines"></span>Our Team</div>
              <h3 class="mb-5 Client-review mt-3">Meet Specialist</h3>
            </div>
            <div class="col-md-6">
              <div class="slider text-right" data-slider>
                <div class="slider-title">
                  <div class="col  button-area">
                    <a class="btn reviews-arrow-buttons mb-3 mr-1 hide-arrow" role="button" data-slide="prev"
                      data-slider-prev>
                      <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn reviews-arrow-buttons mb-3 hide-arrow" role="button" data-slide="next"
                      data-slider-next>
                      <i class="fa fa-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="slider__track" data-slider-track>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Hepatitis</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Tuberculosis</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Metabolic disease</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Endometriosis</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Cardiovascular conditions</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Normal human tissue set</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">OCT embedded tissues</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Snap frozen tissues</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Renal cell carcinoma</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Glioblastoma</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Astrocytoma</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">CRC</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Pancreatic</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Stomach</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Lung</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Breast</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">urinary bladder</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Any gynecology related</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Any HIV, Hepatitis related .</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Neuroblastoma</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Prostate cancer</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li><li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Any Head and Neck related</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid biospecimens-human">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 human-biospecimens">
        <h1 class="about-us-heading ">Human Biospecimens</h1>
        <p class="about-check-text mt-5">Client : <span> Rasalina De Willam (USA)</span></p>
        <p class="about-check-text">Date : <span> March 20,2023</span></p>
        <p class="about-check-text">Catogary : <span> Laboratory $ Science Research</span></p>
        <div class="card-icons my-4">
          <div><img src="../../assets/Group 292.svg" alt=""></div>
          <div><img src="../../assets/Group 308.png" alt=""></div>
          <div><img src="../../assets/Group 291.svg" alt=""></div>
          <div><img src="../../assets/Group 290.svg" alt=""></div>
        </div>
      </div>
      <div class="col-md-6">
        <p class="about-us-parg">When faced with a supply chain disruption, proactive and reactive supply chain
          tisk management can in fact make or break a company's existence. One of the
          most famous (or rather infamous) cases is the fire at the Philips microchip plant
          in Albuquerque, New Mexico, in 2000, which simultaneously affected both Nokia
          and Ericsson. However, both companies took a very different approach toward
          the incident, and in hindsight,</p>
        <p class="about-us-parg">Clearly displayed how to and how not to handle supply chain disruptions. New
          Mexico, in 2000, which simultaneously affected both Nokia and Ericsson</p>
      </div>
    </div>
    <img src="../../assets/doctor-working-medical-research-1.jpg" alt="">
    <div class="row mt-5">
      <div class="col-md-6">
        <h1 class="about-us-heading mt-4">Challenge & Solution</h1>
      </div>
      <div class="col-md-6">
        <p class="about-us-parg">Being atop us private facilty for any kind of scientific esearch, we are proud
          of
          the overall amount of worl we ve done so far. Excepteur sint occaecat oupidatat
          non dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullameo proident, sunt in culpa qui officia deserunt mollit anim d est laborum</p>
        <p class="about-us-parg">When faced with a supply chain disruption, proactive and reactive supply chain
          risk management can in fact make or break a company's existence. One of the.
          most famous (or rather infamous) cases is the fie at the Philips microchip plant
          in Albuquerque, New Mexico, in 2000, which simultaneously affected both Nokia
          and Ericsson. However, both companies took a very diferent approach toward
          theincident, and in hindsight,</p>
        <p class="about-us-parg">Clearly displayed how to and how not to handle supply chain disruptions. New
          Mexico, in 2000, which simultaneously affected both Nokia and Ericsson</p>
      </div>
    </div>
    <img src="../../assets/front-view-defocused-female-researcher-with-test-tubes-microscope-1.jpg" alt="">
    <div class="row mt-5">
      <div class="col-md-6">
        <h1 class="about-us-heading mt-4">Our Process</h1>
      </div>
      <div class="col-md-6">
        <p class="about-us-parg">Being atop us private facilty for any kind of scientific esearch, we are proud
          of
          the overall amount of worl we ve done so far. Excepteur sint occaecat oupidatat
          non dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullameo proident, sunt in culpa qui officia deserunt mollit anim d est laborum</p>
        <p class="about-us-parg">When faced with a supply chain disruption, proactive and reactive supply chain
          risk management can in fact make or break a company's existence. One of the.
          most famous (or rather infamous) cases is the fie at the Philips microchip plant
          in Albuquerque, New Mexico, in 2000, which simultaneously affected both Nokia
          and Ericsson. However, both companies took a very diferent approach toward
          theincident, and in hindsight,</p>
        <p class="about-us-parg">Clearly displayed how to and how not to handle supply chain disruptions. New
          Mexico, in 2000, which simultaneously affected both Nokia and Ericsson</p>
      </div>
    </div>
  </div>
</div>
