<div class="container-fluid ">
  <div class="row dashboard-banner-text">
    <div class="privacy-banner p-0">
      <div class="privacy-color">
        <p class="privacy-text text-end">Human Biospecimens</p>
      </div>
    </div>
  </div>
</div>
<!--Review carosel section -->
<div class="container-fluid p-0">
  <div class="carosel-banner">
    <div class="pt-5 pb-5">
      <div #slider class="slider">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="reviews-line"><span class="lines"></span>Our Team</div>
              <h2 class="mb-5 Client-review mt-3">Meet Specialist</h2>
            </div>
            <div class="col-md-6">
              <div class="slider text-right" data-slider>
                <div class="slider-title">
                  <div class="col  button-area">
                    <a class="btn reviews-arrow-buttons mb-3 mr-1 hide-arrow" role="button" data-slide="prev"
                      data-slider-prev>
                      <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn reviews-arrow-buttons mb-3 hide-arrow" role="button" data-slide="next"
                      data-slider-next>
                      <i class="fa fa-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="slider__track" data-slider-track>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/balls-and-lines-black-shape.png">
                  <P class="Service-card-title">Hepatitis</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/dna-structure.png">
                  <P class="Service-card-title">Tuberculosis</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/stethoscope-medical-tool.png">
                  <P class="Service-card-title">Metabolic disease</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/syringe.png">
                  <P class="Service-card-title">Endometriosis</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/bandage.png">
                  <P class="Service-card-title">Cardiovascular conditions</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/band-aid.png">
                  <P class="Service-card-title">Normal human tissue set</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/biohazard-sign.png">
                  <P class="Service-card-title">OCT embedded tissues</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/tissues.png">
                  <P class="Service-card-title">Snap frozen tissues</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/crutches.png">
                  <P class="Service-card-title">Renal cell carcinoma</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/enzyme.png">
                  <P class="Service-card-title">Glioblastoma</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/human-skull.png">
                  <P class="Service-card-title">Astrocytoma</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/pill.png">
                  <P class="Service-card-title">CRC</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/cosmetic-surgery.png">
                  <P class="Service-card-title">Pancreatic</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/stomach.png">
                  <P class="Service-card-title">Stomach</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/harmful.png">
                  <P class="Service-card-title">Lung</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/lungs-with-bronchi-.png">
                  <P class="Service-card-title">Breast</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/urinary.png">
                  <P class="Service-card-title">urinary bladder</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/medicine-drug.png">
                  <P class="Service-card-title">Any gynecology related</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/ribbon.png">
                  <P class="Service-card-title">Any HIV, Hepatitis related .</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/flask.png">
                  <P class="Service-card-title">Neuroblastoma</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/cell.png">
                  <P class="Service-card-title">Prostate cancer</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="card card-carousel">
                  <img class="img-fluid" alt="100%x280" src="../../assets/user.png">
                  <P class="Service-card-title">Any Head and Neck related</P>
                  <!-- <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                    quis ex nulla.Nam eget dui vel quam</P>
                  <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p> -->
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- accordions -->
<div class="container-fluid p-0 accordion-tabs">
  <div class="container">
    <h1 class="about-us-heading ">Services</h1>
    <div class="accordion mt-5" id="accordionExample">
      <div class="accordion-item">
        <h1 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Solid Tumor
          </button>
        </h1>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="container accordion-items">
              <h2>Solid Tumor</h2>
              <h5>Standard acquisition protocols for the collection of clinically defined bio specimens include the
                following cancer types:</h5>
              <div class="row accordion-text">
                <div class="col-md-6">
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Breast carcinoma (invasive ductal &
                    lobular, in situ, medullary)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Colorectal carcinoma (CRC) and polyps</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Prostate adenocarcinoma and hyperplasia of
                    prostate</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Ovarian carcinoma and benign conditions
                  </p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Pancreatic adenocarcinoma</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Non-small cell lung carcinoma (including
                    K-ras, EGFR status) & Small Cell Carcinoma</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Melanoma (including B-raf status)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Renal Cell Carcinoma</p>
                </div>
                <div class="col-md-6">
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i> Brain tumors (glioblastoma, astrocytoma,
                    medulloblastoma, etc.)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Non-Hodgkin's Lymphoma (diffuse large
                    B-cell, follicular, other types)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Nueroblastoma</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>urinary bladder carcinoma</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>head & neck carcinoma</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>thyroid tumors</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>soft tissue sarcomas and other type of
                    cancers.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h1 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Hematologic malignancies
          </button>
        </h1>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="container accordion-items">
              <h2>Hematologic malignancies (ALL, AML, CLL, CML, MM, MDS, etc.)</h2>
              <h5>Standard acquisition protocols for the collection of clinically-defined hematologic malignancies
                specimens include:</h5>
              <p> <i class="fa-solid fa-check" style="color: #0e63ff;"></i>Collection of fresh cancer blood and
                preparation of human viable blood cells or frozen PBMC pellets</p>
              <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i> Collection of cancer bone marrow aspirate and
                preparation of viable BMMC or frozen BMMC pellets</p>
              <p> <i class="fa-solid fa-check" style="color: #0e63ff;"></i>Preparation of cancer bone marrow FFPE (
                Human Tumor Tissues">trephine biopsy FFPE and paraffin-embedded
                BMMC pellets)</p>
              <div class="row accordion-text">
                <h3>Standard Specimen Format and Sets</h3>
                <div class="col-md-6">
                  <h4>Leukemia / Lymphoma Specimens</h4>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Cancer PBMC, snap-frozen pellet</p>
                  <p> <i class="fa-solid fa-check" style="color: #0e63ff;"></i>Viable PBMC from cancer blood</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i> Marker-specific PBMC (CD19 , etc.)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i> Matching cancer serum, cancer plasma,
                    cancer blood</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i> Bone marrow aspirate, snap-frozen</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Bone marrow Human Tumor Tissues">trephine
                    biopsy snap-frozen</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i> Bone marrow FFPE from threphine biopsy
                  </p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Bone marrow FFPE from cancer BMMC</p>
                </div>
                <div class="col-md-6">
                  <h4>Multiple Myeloma / MDS Specimens</h4>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Bone marrow aspirate, snap-frozen</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Bone marrow Human Tumor Tissues">trephine
                    biopsy snap-frozen</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Viable BMMC from cancer bone marrow</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Cancer BMMC, snap-frozen</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Marker-specific BMMC (CD138 , etc.)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Matching cancer serum, cancer plasma</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Bone marrow FFPE from threphine biopsy</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h1 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Inflammation
          </button>
        </h1>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="container accordion-items">
              <h2>Inflammation:</h2>
              <h4>Research Services</h4>
              <h5>Research-related services utilizing specimens from patients with solid tumors, including:</h5>
              <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i> 3-D histoculture on fresh tumor tissue</p>
              <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Blood and other biofluids processing for
                immuno-oncology projects</p>
              <div class="row accordion-text">
                <div class="col-md-6">
                  <h4>Biosample Collection and Research Services</h4>
                  <h5>tissue procurement and research protocols including:</h5>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i> Collection of snap-frozen synovial tissue
                    and synovial fluid</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Collection of matching rheumatoid
                    arthritis serum, plasma, whole blood and PBMCs</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Target expression and activation profiling
                    in synovial tissue using IHC</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Development of primary cell culture of
                    synovial fluid cells</p>
                </div>
                <div class="col-md-6">
                  <h4>Standard Specimen Format and Sets</h4>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i> Synovial tissue snap-frozen biopsy</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Synovial tissue matching FFPE biopsy</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Synovial fluid:</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>frozen synovial liquid fraction</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>viable synovial fluid cells</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Matching rheumatoid arthritis serum</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Matching rheumatoid arthritis plasma</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Whole blood in PAXgene RNA tube</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h1 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Neurological Diseases
          </button>
        </h1>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="container accordion-items">
              <h2>Neurological Diseases</h2>
              <h4>Neurological specimens currently include the following conditions:</h4>
              <p> <i class="fa-solid fa-check" style="color: #0e63ff;"></i>Parkinson's Disease<span>Postmortem
                  collection of S. nigra from patients diagnosed with Parkinson's disease</span></p>
              <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Alzheimer’s Disease<span>Postmortem collection
                  of hypothalamus from patients diagnosed with Alzheimer’s disease</span></p>
              <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Multiple Sclerosis<span>Collection of Central
                  Spinal Fluid (CSF) and blood from patients diagnosed with Multiple Sclerosis</span></p>
              <div class="row bg-gray">
                <h3>Normal Tissues :</h3>
                <div class="col-md-6">
                  <h4>Standard Specimen Format and Sets</h4>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Snap-frozen tissues (1 x 1 cm)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>OCT-embedded tissues</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>FFPE blocks</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Normal Human Tumor Tissues Human Brain
                    Regions Set</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Normal Human Tissue Set</p>
                </div>
                <div class="col-md-6">
                  <h4>Normal Human Tumor Tissues Human Brain Map</h4>
                  <div class="row">
                    <div class="col">
                      <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Nucleus Substantia nigra</p>
                      <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Nucleus Raphe</p>
                      <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Ventral pole</p>
                      <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Orbital gyrus</p>
                      <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Accumbens</p>
                      <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Amygdala</p>
                      <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Putamen</p>
                      <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Nucleus caudate</p>
                      <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Hippocampus</p>
                    </div>
                    <div class="col">Thalamus
                      <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Parietal cortex</p>
                      <p> <i class="fa-solid fa-check" style="color: #0e63ff;"></i>Cerebellar vermis</p>
                      <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i> Cerebellar hemisphere</p>
                      <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Dorsolateral prefrontal cortex</p>
                      <p> <i class="fa-solid fa-check" style="color: #0e63ff;"></i>Pituitary gland</p>
                      <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Hypothalamus</p>
                      <p> <i class="fa-solid fa-check" style="color: #0e63ff;"></i>Spinal cord (cross-section)</p>
                      <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Peripheral Ganglia</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <h2>Normal Human Tissues Panel</h2>
                <div class="col-md-4">
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Endocrine system -Pituitary (Category II)
                  </p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Endocrine system-Adrenal (Category II)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Endocrine system -Thyroid (Category II)
                  </p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Endocrine system -Parathyroid</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Peripheral Blood cells (blood smear
                    slides)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Bone marrow</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>CVS-Endothelium (artery, vein)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>CVS-Heart (myocardium)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>CVS -Lymph node (central)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Spleen</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>CNS -Cerebellum (Category II)</p>
                </div>
                <div class="col-md-4">
                  <p> <i class="fa-solid fa-check" style="color: #0e63ff;"></i>CNS- Cerebral cortex (Category II)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>PNS- Spinal cord (cross-sections)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Upper GI tract (Esophagus, stomach)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Lower GI tract –Intestines( Duodenum,
                    Ileum, Cecum, Colon, Rectum)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Pancreas (Category II)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Liver</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Urinary tract –Kidney</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Urinary tract - Ureter</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Urinary tract – Bladder</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Respiratory tract- Lung</p>
                </div>
                <div class="col-md-4">
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i> Female reproductive organs-Ovary</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Female reproductive organs-Fallopian tube
                  </p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Female reproductive organs -Uterus</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Breast</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Placenta (different donor)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Male reproductive organs -Testis</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Male reproductive organs-Prostate</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Skin</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Adipose tissue( Fat)</p>
                  <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Striated and Smooth muscle</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h1 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Infectious Diseases
          </button>
        </h1>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="container accordion-items">
              <div class="row">
                <h2>Infectious Diseases</h2>
                <h5>Our current collection protocols include:</h5>
                <p> <i class="fa-solid fa-check" style="color: #0e63ff;"></i>Hepatitis, including high IgM levels, early
                  stage viral load and other special selection criteria
                </p>
                <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>HIV, including enrollment of a virus
                  genotype - defined patients</p>
                <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Tuberculosis (TB), including custom
                  protocols and MDR strains</p>
                <h4>currently offers special collection of human biofluids from patients with in-hospital infections:
                </h4>
                <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Sepsis</p>
                <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>In-hospital pneumonia</p>
                <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Stomach</p>
                <h5>We work directly with principal investigators on determining feasibility for custom protocols.
                  Please contact us with the details of your project for collection setup.</h5>
                <h4>Other type of indications include the following indications:</h4>
                <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Metabolic Diseases</p>
                <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Endometriosis</p>
                <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Cardiovascular Conditions</p>
                <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Maternal / Fetal Health and Many other
                  indications according to our site feasibility .</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h1 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Types of samples
          </button>
        </h1>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="container accordion-items">
              <div class="row">
                <h2>Types of samples</h2>
                <p> <i class="fa-solid fa-check" style="color: #0e63ff;"></i>Whole blood (Serum/Plasma/Buffy Coat/PBMC)
                </p>
                <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>FFPE/Frozen/Snap Freezing/Slides
                  (Charged/normal)</p>
                <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Urine</p>
                <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Saliva</p>
                <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Stool</p>
                <p><i class="fa-solid fa-check" style="color: #0e63ff;"></i>Sweat etc.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid biospecimens-human">
  <div class="container biospecimens">
    <div class="row mt-5">
      <div class="col-md-6 human-biospecimens">
        <h1 class="about-us-heading ">Human Biospecimens</h1>
        <p class="about-check-text mt-5">Client : <span> Rasalina De Willam (USA)</span></p>
        <p class="about-check-text">Date : <span> March 20,2023</span></p>
        <p class="about-check-text">Catogary : <span> Laboratory $ Science Research</span></p>
        <div class="card-icons my-4">
          <div><img src="../../assets/Group 292.svg" alt=""></div>
          <div><img src="../../assets/Group 308.png" alt=""></div>
          <div><img src="../../assets/Group 291.svg" alt=""></div>
          <div><img src="../../assets/Group 290.svg" alt=""></div>
        </div>
      </div>
      <div class="col-md-6">
        <p class="about-us-parg">When faced with a supply chain disruption, proactive and reactive supply chain
          tisk management can in fact make or break a company's existence. One of the
          most famous (or rather infamous) cases is the fire at the Philips microchip plant
          in Albuquerque, New Mexico, in 2000, which simultaneously affected both Nokia
          and Ericsson. However, both companies took a very different approach toward
          the incident, and in hindsight,</p>
        <p class="about-us-parg">Clearly displayed how to and how not to handle supply chain disruptions. New
          Mexico, in 2000, which simultaneously affected both Nokia and Ericsson</p>
      </div>
    </div>
    <img src="../../assets/doctor-working-medical-research-1.jpg" alt="">
    <div class="row mt-5">
      <div class="col-md-6">
        <h1 class="about-us-heading mt-4">Challenge & Solution</h1>
      </div>
      <div class="col-md-6">
        <p class="about-us-parg">Being atop us private facilty for any kind of scientific esearch, we are proud
          of
          the overall amount of worl we ve done so far. Excepteur sint occaecat oupidatat
          non dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullameo proident, sunt in culpa qui officia deserunt mollit anim d est laborum</p>
        <p class="about-us-parg">When faced with a supply chain disruption, proactive and reactive supply chain
          risk management can in fact make or break a company's existence. One of the.
          most famous (or rather infamous) cases is the fie at the Philips microchip plant
          in Albuquerque, New Mexico, in 2000, which simultaneously affected both Nokia
          and Ericsson. However, both companies took a very diferent approach toward
          theincident, and in hindsight,</p>
        <p class="about-us-parg">Clearly displayed how to and how not to handle supply chain disruptions. New
          Mexico, in 2000, which simultaneously affected both Nokia and Ericsson</p>
      </div>
    </div>
    <img src="../../assets/front-view-defocused-female-researcher-with-test-tubes-microscope-1.jpg" alt="">
    <div class="row mt-5">
      <div class="col-md-6">
        <h1 class="about-us-heading mt-4">Our Process</h1>
      </div>
      <div class="col-md-6">
        <p class="about-us-parg">Being atop us private facilty for any kind of scientific esearch, we are proud
          of
          the overall amount of worl we ve done so far. Excepteur sint occaecat oupidatat
          non dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullameo proident, sunt in culpa qui officia deserunt mollit anim d est laborum</p>
        <p class="about-us-parg">When faced with a supply chain disruption, proactive and reactive supply chain
          risk management can in fact make or break a company's existence. One of the.
          most famous (or rather infamous) cases is the fie at the Philips microchip plant
          in Albuquerque, New Mexico, in 2000, which simultaneously affected both Nokia
          and Ericsson. However, both companies took a very diferent approach toward
          theincident, and in hindsight,</p>
        <p class="about-us-parg">Clearly displayed how to and how not to handle supply chain disruptions. New
          Mexico, in 2000, which simultaneously affected both Nokia and Ericsson</p>
      </div>
    </div>
  </div>
</div>
