<div class="container-fluid ">
  <div class="row dashboard-banner-text">
    <div class="privacy-banner p-0">
      <div class="privacy-color">
        <p class="privacy-text text-end">Services</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <img src="../../assets/agriculture-laboratory-research-food-science.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="../../assets/doctor-working-medical-research.jpg" alt="">
      </div>
    </div>
    <h1 class="about-us-heading mt-4">Memoglobin test process</h1>
    <p class="about-us-parg">Must explain to you how all this mistaken idea of denouncing works pleasure and
      praising uts pain was born and | will gives you a itself completed account of the system, and sed |
      pounds the ut actual teachings of that greater sed explores truth, Denouncing works plaasures and praising
      pains was us born and wil gives you a complated ut workers accounts
      the system. sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
      voluptatem sequi nesciunt. </p>
    <p class="about-us-parg mt-4">
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit ame, consectetur, adipisci velit, sed quia non
      numauam eis modi tempora incidunt ut labore et dolore magnam aliquam
      quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exerctationer.
    </p>
    <div class="down-text-r">
      <p class="about-check-text mt-5"><span class="about-check-icon"><i class="fa-solid fa-check"
            style="color: #0e63ff;"></i></span>Consectetur, adipisci velit, sed quia non numauam sius modi
      </p>
      <p class="about-check-text"><span class="about-check-icon"><i class="fa-solid fa-check"
            style="color: #0e63ff;"></i></span>Perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremguen</p>
      <p class="about-check-text"><span class="about-check-icon"><i class="fa-solid fa-check"
            style="color: #0e63ff;"></i></span>Utenim ad minima veniam, quis nostrum exercitationem |</p>
      <p class="about-check-text"><span class="about-check-icon"><i class="fa-solid fa-check"
            style="color: #0e63ff;"></i></span>Neque porro quisquam est, qui dolorem ipsum quia dolor sit
        amet</p>
    </div>
    <h1 class="about-us-heading">4 Simple Steps</h1>
    <p class="about-us-parg mt-4">
      Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusantium doloremaque laudantium, totam rem
      aperiam, eaque psa quas ab ilo inventore veritatis et quasi architecto
      beatae vitae dicta sunt explicabo,. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
      nesciunt. Neque porto quisquam est, qui dolorem ipsum quia dolor sit amet,
    </p>
    <p class="about-us-parg mt-4">
      Must explain to you how allthis mistaken idea of denouncing works pleasure and praising uts pain was born
      and 1 will gives you a itself completed account of the system, and sed
      expounds the ut actual teachings ofthat greater sed explores ruth. Denouncing works pleasures and praising
      pains was us born and will ives you a completed ut workers accounts
      of the system. sit aspernatur aut odiit aut fugit, sed quia consequuntur magni dolores eos qui ratione
      voluptatem sequi nesciunt.
    </p>
    <p class="about-us-parg mt-4">
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
      numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
      quasrat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.
    </p>
    <!-- check section -->
    <div class="row mt-4">
      <div class="col-md-4">
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Extramural Funding</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Bacteria Markers</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Nam nec mi euismod euismod</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>In aliquot dui nec lectus</p>
      </div>
      <div class="col-md-4">
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Extramural Funding</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Bacteria Markers</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Nam nec mi euismod euismod</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>In aliquot dui nec lectus</p>
      </div>
      <div class="col-md-4">
        <p class="about-check-text "><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Extramural Funding</p>
        <p class="about-check-text "><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Bacteria Markers</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>Nam nec mi euismod euismod</p>
        <p class="about-check-text"><span class="about-check-icon">
            <i class="fa-solid fa-check" style="color: #0e63ff;"></i></span>In aliquot dui nec lectus</p>
      </div>
    </div>
    <h1 class="about-us-heading">Our Research</h1>
    <p class="about-us-parg mt-4">
      Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusantium doloremaque laudantium, totam rem
      aperiam, eaque psa quas ab ilo inventore veritatis et quasi architecto
      beatae vitae dicta sunt explicabo,. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
      nesciunt. Neque porto quisquam est, qui dolorem ipsum quia dolor sit amet,
    </p>
    <!-- card image section -->
    <div class="row mb-4">
      <div class="col-md-6">
        <img class="single-side-img"
          src="../../assets/front-view-defocused-female-researcher-with-test-tubes-microscope-1.jpg" alt="">
      </div>
      <div class="col-md-6 mt-2">
        <div class="row">
          <div class="col-md-6">
            <img class="image-fluid" src="../../assets/side-view-woman-experiment-sprout (1).jpg" alt="">
          </div>
          <div class="col-md-6">
            <img src="../../assets/side-view-woman-experiment-sprout (2).jpg" alt="">
          </div>
          <div class="col-md-6">
            <img src="../../assets/close-up-scientist-working-with-tube (1).jpg" alt="">
          </div>
          <div class="col-md-6">
            <img src="../../assets/scientist-take-dried-cannabis-with-tweezer-tool-put-microscope.jpg" alt="">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container touch-form">
  <div class="text-center">
    <h4 class="address-title mb-3 text-uppercase">Need Any Help </h4>
  </div>
  <div class="text-center">
    <p routerLink="/contact-us">For enquiry on services, click the below button to contact us   <i class="fa-solid fa-arrow-right" style="color: #0e63ff;"></i></p>
  </div>
</div>
<!-- <div class="container-fluid p-0 mt-5 touch-form">
  <div class="banner-color">
    <div class="container">
      <div class="text-center">
        <div class="service-line about-us-line"><span class="line"></span>Get In Touch</div>
      </div>
      <h4 class="address-title mb-3 text-uppercase">Need Any Help </h4>
      <div class="card">
        <div class="card-body">
          <form>
            <p class="contact-sub-title mb-3">Direct Contact with us </p>
            <div class="col">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingTextInput1" placeholder="John">
                <label for="floatingTextInput1">Enter Your Name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingTextInput2" placeholder="Smith">
                <label for="floatingTextInput2">Enter Your mail</label>
              </div>
            </div>
            <div class="mb-3">
              <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Type Your Message"
                rows="6"></textarea>
            </div>
            <div class="text-center">
              <button class="btn search-button" type="submit">SEND MESSAGE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
