<div class="container-fluid p-0">
  <div class="row dashboard-banner-text">
    <div class="col-md-6 Human">
      <div class="Human-Blospecimens">
        <a routerLink="/human-biospecimens" class="removeUnderline"><p class="Human-Blospecimens-text">Human Blospecimens</p></a>
      </div>
    </div>
    <div class="col-md-6 Plants">
      <div class="Plants-Specimens">
        <a routerLink="/plant-specimens" class="removeUnderline"><p class="Plants-Specimens-text">Plants Specimens</p></a>
      </div>
      <div class="d-flex quality-lab mt-5">
        <div class="medal-icon"> <i class="fa-sharp fa-solid fa-medal" style="color: #10d0a1;"></i> </div>
        <div class="quality">
          <p class="quality-text">100% quality <br> Laboratory service</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- search -->
<div class="container-fluid search p-0">
  <div class="container">
    <!-- <br />
    <div class="row justify-content-center search-background">
      <form class="card search-card m-auto ">
        <div class="card-body row no-gutters align-items-center">
          <div class="col">
            <input class="form-control form-control-lg form-control-borderless" type="search"
              placeholder="What are you looking for?">
          </div>
          <div class="col-auto">
            <button class="btn search-button" type="submit">SEARCH HERE <i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div> -->
    <!-- carosel section -->
    <section class="pt-5 pb-5">
      <div class="container">
        <div class="service-line"><span class="line"></span>Our Services</div>
        <div class="row service">
          <div class="col-6">
            <h3 class="mb-3 Service-Area">Service Area</h3>
          </div>
          <div class="col-6 text-right button-area">
            <a class="btn Service-arrow-button mb-3 mr-1" href="#carouselExampleIndicators" role="button"
              data-slide="prev" appPrev>
              <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn Service-arrow-button mb-3 " href="#carouselExampleIndicators" role="button" data-slide="next"
              appNext>
              <i class="fa fa-arrow-right"></i>
            </a>
          </div>
          <div class="col-12">
            <div class="product">
              <div class="container-fluid">
                <div class="slider-wrap">
                  <div class="slider-main">
                    <div class="item">
                      <div class="card card-carousel">
                        <img class="img-fluid" alt="100%x280" src="../../assets/Group 266.png">
                        <P class="Service-card-title">HEMOGLOBIN TEST</P>
                        <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                          quis ex nulla.Nam eget dui vel quam</P>
                        <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card card-carousel">
                        <img class="img-fluid" alt="100%x280" src="../../assets/Group 267.png">
                        <P class="Service-card-title">HEMOGLOBIN TEST</P>
                        <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                          quis ex nulla.Nam eget dui vel quam</P>
                        <p class="Service-card-more"> <img src="../../assets/Group 18.png"></p>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card card-carousel">
                        <img class="img-fluid" alt="100%x280" src="../../assets/Group 268.png">
                        <P class="Service-card-title">HEMOGLOBIN TEST</P>
                        <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                          quis ex nulla.Nam eget dui vel quam</P>
                        <p class="Service-card-more"> <img src="../../assets/Group 19.png"></p>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card card-carousel">
                        <img class="img-fluid" alt="100%x280" src="../../assets/Group 269.png">
                        <P class="Service-card-title">HEMOGLOBIN TEST</P>
                        <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                          quis ex nulla.Nam eget dui vel quam</P>
                        <p class="Service-card-more"> <img src="../../assets/Path 319.png">READ MORE</p>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card card-carousel">
                        <img class="img-fluid" alt="100%x280" src="../../assets/Group 266.png">
                        <P class="Service-card-title">HEMOGLOBIN TEST</P>
                        <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                          quis ex nulla.Nam eget dui vel quam</P>
                        <p class="Service-card-more"> <img src="../../assets/Path 298.png">READ MORE</p>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card card-carousel">
                        <img class="img-fluid" alt="100%x280" src="../../assets/Group 267.png">
                        <P class="Service-card-title">HEMOGLOBIN TEST</P>
                        <P class="Service-card-parag">Nam eget dui vel quam sodales semper quis porttitor tortor.Vivamus
                          quis ex nulla.Nam eget dui vel quam</P>
                        <p class="Service-card-more"> <img src="../../assets/Group 18.png"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- About US -->
<div class="container-fluid about-us p-0">
  <div class="container">
    <div class="row aboutus">
      <div class="col-md-6">
        <img class="doctor-image image-fluid" src="../../assets/medium-shot-scientists-laboratory.jpg" alt="">
        <h1><span class="red">
            <p class="num">12</p><br><span class="about-circle-text">Years of <br>Experience</span>
          </span></h1>
      </div>
      <div class="col-md-6 mt-2 responsive-d">
        <div class="service-line-1 "><span class="line"></span>About Us</div>
        <h1 class="about-us-heading">About Company And Discription</h1>
        <p class="about-us-parg">Your full service lab for clinical trials. Our mission is to ensure the generation of
          accurate and precise
          findings</p>
        <p class="about-us-pargraph mt-5">Exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea commoda
          claritatem insitamconse quat.Exerci
          tataion yllamcorper suscipit loborti excommodo habent clarititataem insitamconse quat.exerci tationlobortis
          nisl aliquip ex ea commodo habent claritataem insitamaconse quat.</p>
        <div class="down-text-r">
          <p class="about-check-text mt-5"><span class="about-check-icon"><i class="fa-solid fa-check"
                style="color: #0e63ff;"></i></span>Extramural Funding</p>
          <p class="about-check-text"><span class="about-check-icon"><i class="fa-solid fa-check"
                style="color: #0e63ff;"></i></span>bacteria Markers</p>
          <p class="about-check-text"><span class="about-check-icon"><i class="fa-solid fa-check"
                style="color: #0e63ff;"></i></span>Nam nec mi evismod euismod</p>
          <p class="about-check-text"><span class="about-check-icon"><i class="fa-solid fa-check"
                style="color: #0e63ff;"></i></span>in aliquet dui nec lectus</p>
          <button class="abt-btn-history mt-5">OUR HISTORY</button>
          <button class="abt-btn-about mt-5">ABOUT US</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- counter -->
<div class="container-fluid p-0">
  <div class="container counter">
    <div #counterSection class="client-count-wrp">
      <div class="row client-count-center">
        <div class="col-md-12 client-count-wrp-inner ">
          <div class="cards counter-cards">
            <img src="../../assets/Path 251.svg" alt="">
            <h4>{{projectcount}}</h4>
            <p class="counter-cards-text">Laboratories in 100+ states</p>
          </div>
          <div class="cards counter-cards">
            <img src="../../assets/Path 252.svg" alt="">
            <h4>{{accuratecount}}</h4>
            <p class="counter-cards-text">Laboratory specialists</p>
          </div>
          <div class="cards counter-cards">
            <img src="../../assets/Path 255.svg" alt="">
            <h4>{{clientcount}}</h4>
            <p class="counter-cards-text">Material collection points</p>
          </div>
          <div class="cards counter-cards">
            <img src="../../assets/Path 258.svg" alt="">
            <h4>{{customerfeedback}}</h4>
            <p class="counter-cards-text">Patients diagnosed in 2022</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bioxlab Gallery card section -->
<div class="container-fluid p-0">
  <div class="banner-color">
    <div class="text-center">
      <div class="service-line about-us-line"><span class="line"></span>Work Gallery</div>
      <h1 class="gallery-heading">Bioxlab Gallery</h1>
    </div>
    <div class="row">
      <div class="col">
        <div id="card-area">
          <div class="wrapper">
            <div class="box-area">
              <div class="box">
                <img alt="" src="../../assets/woman-looking-tube-medium-shot.jpg" class="image-fluid">
                <div class="overlay">
                  <p class="card-para">The improper collection of biospecimens could lead to inaccurate results, damage
                    to the reputation
                    of clinical trials, and potential harm to patients. Therefore, the integrity of biospecimens should
                    be upheld in all stages of the collection process.
                  </p>
                  <p class="end-title">Covid Analysis</p>
                  <p class="card-para d-flex">
                    <span class="bioxlab-gallery-tag mt-1 mx-2">
                      <img src="../../assets/Path 242.svg" alt="">
                    </span>Genetics
                  </p>
                </div>
                <div class="work-gallery-card-icon">
                  <img src="../../assets/Group 272.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="card-area">
          <div class="wrapper">
            <div class="box-area">
              <div class="box">
                <img alt="" src="../../assets/researcher-with-test-tubes-biotechnology-laboratory.jpg"
                  class="image-fluid">
                <div class="overlay">
                  <p class="card-para">The improper collection of biospecimens could lead to inaccurate results, damage
                    to the reputation
                    of clinical trials, and potential harm to patients. Therefore, the integrity of biospecimens should
                    be upheld in all stages of the collection process.
                  </p>
                  <p class="end-title">Covid Analysis</p>
                  <p class="card-para d-flex"><span class="bioxlab-gallery-tag mt-1 mx-2"> <img
                        src="../../assets/Path 242.svg" alt=""> </span>Genetics</p>
                </div>
                <div class="work-gallery-card-icon">
                  <img src="../../assets/Group 272.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="card-area">
          <div class="wrapper">
            <div class="box-area">
              <div class="box">
                <img alt=""
                  src="../../assets/front-view-young-feman-chemist-white-suit-front-table-working-with-solutions.jpg"
                  class="image-fluid">
                <div class="overlay">
                  <p class="card-para">The improper collection of biospecimens could lead to inaccurate results, damage
                    to the reputation
                    of clinical trials, and potential harm to patients. Therefore, the integrity of biospecimens should
                    be upheld in all stages of the collection process.
                  </p>
                  <p class="end-title">Covid Analysis</p>
                  <p class="card-para d-flex"><span class="bioxlab-gallery-tag mt-1 mx-2"> <img
                        src="../../assets/Path 242.svg" alt=""> </span>Genetics</p>
                </div>
                <div class="work-gallery-card-icon">
                  <img src="../../assets/Group 272.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="card-area">
          <div class="wrapper">
            <div class="box-area">
              <div class="box">
                <img alt="" src="../../assets/scientists-laboratory-medium-shot.jpg" class="image-fluid">
                <div class="overlay">
                  <p class="card-para">The improper collection of biospecimens could lead to inaccurate results, damage
                    to the reputation
                    of clinical trials, and potential harm to patients. Therefore, the integrity of biospecimens should
                    be upheld in all stages of the collection process.
                  </p>
                  <p class="end-title">Covid Analysis</p>
                  <p class="card-para d-flex"><span class="bioxlab-gallery-tag mt-1 mx-2"> <img
                        src="../../assets/Path 242.svg" alt=""> </span>Genetics</p>
                </div>
                <div class="work-gallery-card-icon">
                  <img src="../../assets/Group 272.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="abt-btn-about mt-5">EXPLORE MORE</button>
    </div>
  </div>
</div>

<!--Review carosel section -->
<div class="container-fluid p-0">
  <div class="carosel-banner">
    <section class="pt-5 pb-5">
      <div class="container">
        <div class="reviews-line"><span class="lines"></span>OUR Client reviews</div>
        <div class="row service">
          <div class="col-6">
            <h3 class="mb-3 Client-review">Client reviews</h3>
          </div>
          <div class="col-6 text-right button-area">
            <a class="btn reviews-arrow-buttons mb-3 mr-1" href="#carouselExampleIndicator" role="button"
              data-slide="prev" appPrev>
              <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn reviews-arrow-buttons mb-3 " href="#carouselExampleIndicator" role="button" data-slide="next"
              appNext>
              <i class="fa fa-arrow-right"></i>
            </a>
          </div>
          <div class="col-12">
            <div class="product">
              <div class="container-fluid">
                <div class="slider-wrap-client">
                  <div class="slider-main">
                    <div class="item item-client">
                      <div class="card card-carousels">
                        <img alt="100%x280" src="../../assets/Path 962.jpg">
                        <P class="review-card-title">Cameron Wiliamson</P>
                        <P class="review-title">GENETICE SPECIALIST</P>
                        <P class="review-card-parag">Providing insight-driven transformation to investment banks,
                          wealth and asset man, exchanges,Finance</P>
                        <p class="Service-card-more"> <img src="../../assets/Group 235.png"></p>
                      </div>
                    </div>
                    <div class="item item-client">
                      <div class="card card-carousels">
                        <img alt="100%x280"
                          src="../../assets/modern-laboratory-research-scientist-conducts-experiments.jpg">
                        <P class="review-card-title">Savannah Nguyen</P>
                        <P class="review-title">GENETICE SPECIALIST</P>
                        <P class="review-card-parag">Providing insight-driven transformation to investment banks,
                          wealth and asset man, exchanges,Finance</P>
                        <p class="Service-card-more"> <img src="../../assets/Group 235.png"></p>
                      </div>
                    </div>
                    <div class="item item-client">
                      <div class="card card-carousels">
                        <img alt="100%x280" src="../../assets/happy-woman-near-microscope-looking-camera.jpg">
                        <P class="review-card-title">Darlene Robertson</P>
                        <P class="review-title">GENETICE SPECIALIST</P>
                        <P class="review-card-parag">Providing insight-driven transformation to investment banks,
                          wealth and asset man, exchanges,Finance</P>
                        <p class="Service-card-more"> <img src="../../assets/Group 235.png"></p>
                      </div>
                    </div>
                    <div class="item item-client">
                      <div class="card card-carousels">
                        <img alt="100%x280" src="../../assets/Path 962.jpg">
                        <P class="review-card-title">Cameron Wiliamson</P>
                        <P class="review-title">GENETICE SPECIALIST</P>
                        <P class="review-card-parag">Providing insight-driven transformation to investment banks,
                          wealth and asset man, exchanges,Finance</P>
                        <p class="Service-card-more"> <img src="../../assets/Group 235.png"></p>
                      </div>
                    </div>
                    <div class="item item-client">
                      <div class="card card-carousels">
                        <img alt="100%x280"
                          src="../../assets/modern-laboratory-research-scientist-conducts-experiments.jpg">
                        <P class="review-card-title">Savannah Nguyen</P>
                        <P class="review-title">GENETICE SPECIALIST</P>
                        <P class="review-card-parag">Providing insight-driven transformation to investment banks,
                          wealth and asset man, exchanges,Finance</P>
                        <p class="Service-card-more"> <img src="../../assets/Group 235.png"></p>
                      </div>
                    </div>
                    <div class="item item-client">
                      <div class="card card-carousels">
                        <img alt="100%x280" src="../../assets/happy-woman-near-microscope-looking-camera.jpg">
                        <P class="review-card-title">Darlene Robertson</P>
                        <P class="review-title">GENETICE SPECIALIST</P>
                        <P class="review-card-parag">Providing insight-driven transformation to investment banks,
                          wealth and asset man, exchanges,Finance</P>
                        <p class="Service-card-more"> <img src="../../assets/Group 235.png"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- card section -->
<div class="container-fluid p-0">
  <div class="banner-color">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card zolo-rearch">
            <img
              src="../../assets/front-view-female-doctor-white-medical-suit-sitting-front-table-with-solutions-white-space.jpg"
              alt="Norway" style="width:100%; height: 703px;">
            <div class="text-block">
              <div class="card-text">
                <a href="" class="text-white">ZIOLA & In&fb attachments </a>
                <div class="card-area">
                  <i class="fa-brands fa-youtube"></i>
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-facebook-f"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex flex-column">
          <div class="col mb-3">
            <div class="card zolo-rearch-service">
              <img src="../../assets/researcher-takes-water-test-tube-sitting-greenhouse.jpg" alt="Card image"
                style="width:100%; height: 100%;">
              <div class="text-blocker">
                <div class="card-body">
                  <p class="text-center">Services Human biospecimens <br>Plants specimens</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card zolo-rearch-service">
              <img src="../../assets/future-concept.jpg" alt="Card image" style="width:100%; height: 100%;">
              <div class="text-blocker">
                <div class="card-body">
                  <p class="text-center">Supports T&C <br>Privacy policies</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card zolo-rearch-service">
              <img src="../../assets/happy-customer-care-assistant-woman-against-customer-care-background.jpg"
                alt="Card image" style="width:100%; height: 100%;">
              <div class="text-blocker">
                <div class="card-body">
                  <p class="text-center">Get in touch Support services 24/7(Mail.id) <br> Contact info (days &time)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- banner end frames -->
<div class="container p-5 banner-end">
  <div class="end-banner">
    <div class="row p-5">
      <div class="col">
        <img src="../../assets/Group 279.png" alt="">
      </div>
      <div class="col">
        <img src="../../assets/Group 280.png" alt="">
      </div>
      <div class="col">
        <img src="../../assets/Group 281.png" alt="">
      </div>
      <div class="col">
        <img src="../../assets/Group 282.png" alt="">
      </div>
      <div class="col">
        <img src="../../assets/Group 283.png" alt="">
      </div>
    </div>
    <div class="end-inner-banner">
      <div class="text-section">
        <h2 class="banner-text">Looking for a Best <br>Lavatory Service</h2>
        <button class="num-btn mx-5"> CALL: +91 590 088 55</button>
      </div>
    </div>
  </div>
</div>
<!-- Address section -->
<div class="container-fluid p-0">
  <div class="banner-color">
    <div class="row">
      <div class="col-md-6">
        <div class="responsive-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2822.7806761080233!2d-93.29138368446431!3d44.96844997909819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b32b6ee2c87c91%3A0xc20dff2748d2bd92!2sWalker+Art+Center!5e0!3m2!1sen!2sus!4v1514524647889"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <div class="container p-1 mt-4 address-form">
          <h4 class="address-title mb-3 text-uppercase"><span><img src="../../assets/Path 185.png" class="h-100% mx-2"
                alt=""> </span>Address </h4>
          <form>
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingTextInput1" placeholder="John">
                  <label for="floatingTextInput1">Your Name</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingTextInput2" placeholder="Smith">
                  <label for="floatingTextInput2">Your mail</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <select class="form-select" id="validationCustom04" required>
                    <option selected disabled value="">Medical Research</option>
                    <option>Medical Research 1</option>
                    <option>Medical Research 1</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingTextInput2" placeholder="Smith">
                  <label for="floatingTextInput2">mm/dd/yy</label>
                </div>
              </div>
              <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Type Your Message"
                  rows="6"></textarea>
              </div>
            </div>
            <button class="btn search-button" type="submit">BOOK NOW</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
